body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
.intro-part{
    display: flex;
    padding-left: 4%;
   
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 100%;
}
.heading{
    font-size: 50px;
    padding-top: 7%;
}
.half-width p{
    padding-bottom: 6%;
}
.order-food{
    text-decoration: none;
    font-weight: 700;
    color: white;
    padding: 10px 20px;
    background-image: linear-gradient(orange,tomato);
    border-radius: 50px;
}

/*intro part ends here*/

.about-me{
    background-image: url(images/about-bg.png);
    background-repeat: no-repeat;
    height: 95vh;
    display: flex;
    padding-left: 5%;
}
.about-me .half-width h1{
    font-size: 40px;
    padding-top: 20%;
}
.about-me .half-width p{
    width: 80%;
}

/*About me part endes here*/

.recipies{
    text-align: center;
}
.recipies p{
    padding-left: 20%;
    padding-right: 20%;
}
.recipies h1 {
    font-size: 30px;
}
.card-container{
   display: flex;
   padding-top: 15px;
   padding-bottom: 10px;
}
.card{
    width: 40%;
    box-shadow: 5px 5px 30px black;
    padding: 8px;
    margin: 0 auto;
    border-radius: 25px;
}
.card .title{
    padding-left: 10px;
}
.card img{
    width: 100%;
    height: 250px;
}

/*card style ends here*/
.subcription{
    display: flex;
    width: 80%;
    margin: 0% auto;
    margin-top: 5%;
    box-shadow: 5px 5px 30px;
    border-radius: 10px;
}
.sub-list{
    margin: 0% auto;
    text-align: center;
    padding: 0%;
}
.sub-list p{
    opacity: .7;
}

/*from now start footer style*/

footer{
   width: 100%;
   background-color: rgb(56, 55, 55);
   text-align: center;
   margin-top: 5%;
   padding: 7px;
}
footer h1{
    color: rgb(207, 216, 216);
}
footer p{
    color: rgb(119, 119, 119);
}

